---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
  <body id="posts">

    <div class="block-left">
      <div class="content">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo | replace: '.', '-small.' }}"></a>
        <h1 class="section-title">{{ page.title}}<em>/</em>
        </h1>
      </div>
    </div>

    <div class="block-right">
      <a href="certificates.html" title="Certification" class="posts-menu-icon"></a>
      <a title="projects" class="projects-menu-icon">
        <span></span>
      </a>
      <div class="content">
        <ul class="posts-list">
        <li>
          <h2>
            <a href="https://www.youracclaim.com/badges/3b08c29a-71f7-412b-bbc4-80aa5af0a8da/linked_in">
              <span style="font-size:x-large;font-weight:600;">1. Oracle Autonomous Database Cloud 2019 Certified Specialist</span>
            </a>
            <span class="date">{{ "2020-06" | date: '%b %Y' }}</span>
          </h2>
          <p>https://www.youracclaim.com/badges/3b08c29a-71f7-412b-bbc4-80aa5af0a8da/linked_in_profile</p>
        </li>
           <li>
          <h2>
            <a href="https://www.linkedin.com/company/automation-anywhere/">
              <span>2. Automation Anywhere Certified Advanced RPA Professional (V11.0)</span>
            </a>
            <span class="date">{{ "2020-04" | date: '%b %Y' }}</span>
          </h2>
          <p>AAADVC-17060156</p>
        </li>
          <li>
          <h2>
            <a href="https://www.youracclaim.com/badges/1f64dd09-d071-495f-8646-cbb9e1ce3d9c?source=linked_in_profile">
              <span>3. Docker Essentials: A Developer Introduction</span>
            </a>
            <span class="date">{{ "2020-08" | date: '%b %Y' }}</span>
          </h2>
          <p>264ca66c50674bbf9b94acde70047c0d</p>
        </li>
          <li>
          <h2>
            <a href="https://www.coursera.org/account/accomplishments/verify/QE2CQUZ9QWC5">
              <span>4. AWS Fundamentals: Going Cloud-Native</span>
            </a>
            <span class="date">{{ "2020-04" | date: '%b %Y' }}</span>
          </h2>
          <p>8B4U6VTRBKQG</p>
        </li>
          <li>
          <h2>
            <a href="https://coursera.org/share/a54e49c809e8f48cdfbf0b21dcf9b227">
              <span>5. AWS Fundamentals: Migrating to the Cloud</span>
            </a>
            <span class="date">{{ "2020-02" | date: '%b %Y' }}</span>
          </h2>
          <p>QE2CQUZ9QWC5</p>
        </li>
        {% comment %} {% for post in site.posts %}
          <li>
            <h2>
              <a href="{{ site.url }}{{ post.url }}" class="post-title">
                <span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
              </a>
              <span class="date">{{ post.date | date: '%d %b %Y' }}</span>
            </h2>
            <p>{{ post.excerpt | strip_html | truncatewords:10 }}</p>
            <ul class="tags">
            {% for tag in post.tags %}
              <li><a href="{{ site.url }}/tags#{{ tag }}">{{ tag }}</a></li>
              {% unless forloop.last %}
              {% endunless %}
            {% endfor %}
            </ul>
          </li>
          {% endfor %} {% endcomment %}
        </ul>
      </div>
    </div>
    {% include overlay.html %}
    {% include scripts.html %}
  </body>
</html>
